body {
    background-color: #cbcbcb;
}


.parallax {
    /* The image used */
    background-image: url(../imgs/doctor.jpg);

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /*background-position:center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.presentation h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: .3rem;
    color: #8a36cb;
    text-shadow: 0.1rem .1rem .4rem black;
}

.presentation p {
    font-weight: bold;
    font-size: 1rem;
    color: #6551cb;
}
.appointmentError {
     color: red;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 1rem;
     margin-bottom: 10px ;
 }

.appointmentSuccess {
    color: #03b406;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px ;
}

.appointment-form {
    width: fit-content;
    height: fit-content;
    background-color: #6551cb;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 20px;
    z-index: 15;
}

.appointment-form h2 {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}

.appointment-form p {
    font-size: 1rem;
    font-weight: bold;
    color: white;

}

.appointment-form input {
    font-weight: bold;
    font-size: 1rem;
    border-radius: 25px;
    z-index: 10;
}


.custom-select {
    position: relative;
    height: auto;
    font-weight: bold;
    width: 80%;
    font-size: 1rem;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: white;
    color: #8a36cb ;
}


.custom-select select {
    display: none; /*hide original SELECT element: */
}


/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    border: 6px solid transparent;
    border-color: #8a36cb transparent transparent transparent;
}

.select-items {
    position: absolute;
    background-color: #8a36cb;
    top: 100%;
    left: 0;
    right: 0;
    /*z-index: 99;*/
}
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #8a36cb;
    color: white;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
.select-items div,.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    background-color: #8a36cb;
    color: white;
}


.main-container{
    z-index: 100;
}

.appointment-form input[type="button"]{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    background:#8a36cb ;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

.appointment-form input[type="button"]:hover {
    background: #8a36cb;
}


.appointment-container h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: #6551cb;
}

.table thead{
    background-color: #6551cb;
    color: white;
}

.table tbody{
    background-color: white;
    color: #8a36cb;
}

.table tbody .btn{
    background-color:#8a36cb ;
    color: white;
    border-radius: 20px;
}

.table tbody .btn:hover {
    background-color: #6551cb;
}


#time-panel {
    width: 65%;
    height: calc(50% - 200px);
    /*z-index: 100;*/
    /*position: absolute;*/

}

#time-panel #chooseTimePanel {
    width: 200px;
    height: fit-content;
    background-color: #6551cb;
    color: white;
    border-color: #8a36cb;
    border-width: 2px;
    border-style: solid;

}

#time-panel #chooseTimePanel #time-select {
    font-weight: bold;
    font-size: 1rem;
}


/*.footer-page {*/
/*    background-color: #8a36cb;*/
/*}*/

.footer-page p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: #6551cb;
}

.admin-btn {
    border-radius: 20px;
    color: #8a36cb;
    font-size: 1.5rem;
}